body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #FFB703;
    font-size: 40px;
    font-weight: bold;
}

.txt-home {
    font-weight: bold;
}

.rectangulo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(25% - 80px);
    z-index: -1;
    overflow: hidden;
}

.rectangulo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    min-height: 100%;
    object-fit: cover;
}

.img-logo-chiq {
    position: absolute;
    top: 10px;
    left: 10px;
}

header {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 0;
    height: 40px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    padding: 10px;
    display: block;
    color: #F3F3F3;
    text-decoration: none;
}

header .navbar ul li a:hover {
    padding: 10px;
    display: block;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #FFB703;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

/* Estilos para la línea divisora en el menú */
header .navbar ul li ul .divider {
    height: 1px;
    background-color: #FFFFFF;
    width: 100%;
    align-self: center;
    list-style: none;
    opacity: 0.5;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}


header .navbar ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.user-dropdown {

    position: absolute;
    bottom: 5px;
    right: 10px;
}

.btn-user,
.btn-edit-chat,
.btn-select-archivo,
.btn-refresh,
.btn-add-chat,
.btn-borrar,
.btn-add-conv {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    top: 65px;
    background-color: #FB8300;
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-info {
    padding: 10px;
    background-color: #FB8300;
    color: white;
    border-bottom: 1px solid #FFFFFF;
}

.div-user {
    margin-left: 10px;
}

.dropdown-links a,
.dropdown-links span {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* Contenedor del menú personalizado */
.container-menu-pers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    border-radius: 20px;
    background-color: #FFB703;
    margin-top: 5px;
}

.menu-pers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFB703;
    width: 100%;
    /* height: 60px; */
    border-radius: 20px;
    overflow: hidden;
}

.menu-pers ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-pers ul li {
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: color 0.5s;

}

.menu-pers ul li a {
    text-decoration: none;
    color: #FFF;
}

/* Efecto de hover */
.menu-pers ul li a::after {
    content: '';
    background: #FFE6A7;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.menu-pers ul li a:hover {
    color: #777;
}

.menu-pers ul li a:hover::after {
    top: 50%;
    opacity: 1;
}
/* Estilo para el enlace activo */




.container-bienv {
    margin-top: 110px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.container-bienv img {
    margin-right: 15px;
}

.container-btn-refresh {
    margin-left: auto;
    margin-right: 40px;
}


.txtBien {
    font-size: 40px;
}

.txt-nombre-chat {
    font-size: 27px;

}


.container-btn-cerrar-guar {
    margin-left: 38%;
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

.btnCerrar,
.btnGuardarS,
.btnContinuar {
    flex: 1;
    background-color: #FB8300;
    color: white;
    padding: 10px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}




.txt-disena-chat {
    margin-left: 40px;
    margin-top: 15px;
}

.container-chats {
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 80px;
    inline-size: 90%;
    margin-top: 20px;
    transition: all .3s;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    margin-left: 40px;
}


.nombre-chat {
    float: left;
    text-align: left;
    margin-top: 17px;
    margin-left: 10px;
}

.container-btn-edit-chat {
    float: right;
    margin-top: 10px;
}

.container-agregar {
    float: right;
    margin-top: 33vh;
    margin-right: 30px;
}

.container-personalizacion {
    margin-left: 30px;
}

.container-pers {
    display: flex;
    margin-top: 20px
}

.container-pers2 {
    margin-left: 20px;
   

}
.container-pers3 {
    margin-left: 20px;
    margin-top: 20px
}
.container-despedida {
    margin-left: 20px;
    margin-top: 10px
}


.img-paint {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.txt-perso-chat,.txt-crea-conv {
    font-size: 27px;
    margin-bottom: 0;
}


.label-nombrechat {
    margin-top: 10px
}

.input-nombre,
.input-saludo,
.input-burbuja,
.input-despedida {

    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    transition: opacity 0.2s ease;
    opacity: 1;
    border-color: #D9D9D9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.input-columna{
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    transition: opacity 0.2s ease;
    opacity: 1;
    border-color: #D9D9D9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.inp-mensaje-usuario{
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    transition: opacity 0.2s ease;
    opacity: 1;
    border-color: #D9D9D9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
/* Estilos para alinear los inputs de color y los círculos */


.color-selector {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
}

#colorPrimario,
#colorAcento,
#colorSecundario,
#colorTexto {

    border-color: #ffffff;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
}

.container-colors,
.container-conversacion {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.nombre-colord,
.nombre-colorc,
.asi-conversacion {
    /* margin: 10px; */
    min-width: 200px;
}




.select-archivo {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.btn-arch {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/*chatbot diseño*/


.txt-chatbot {
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.chatbot-container {
    margin-left: 65%;
    position: absolute;
    top: 45%;
    width: 400px;
    height: 450px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.chatbot-container2 {
    margin-left: 35%;
    position: absolute;
    top: 45%;
    width: 400px;
    height: 450px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.chatbot-close {
    cursor: pointer;
    margin-right: 5px;
    padding: 7px 15px;

}

.chatbot-min {
    cursor: pointer;
    margin-right: 5px;
    padding: 7px 15px;

}

.conteiner {
    display: flex;
    align-content: space-between;

}

.txt-titulo-chat {
    margin-top: 10px;
    font-size: 15px;

}

.chatbot-icon {
    width: 30px;
    /* Nuevo tamaño más pequeño */
    height: 30px;
    object-fit: cover;
    /* Ajusta la imagen dentro del espacio asignado */
    margin-top: 7px;
}

.chatbot-header {
    background-color: var(--color-primario, #e39842);
    padding: 5px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: space-between;

}

.chatbot-content {
    background-color: #f1f1f1;
    color: var(--color-texto, #000000);
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    text-align: left;
    align-self: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
}

.chatbot-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

}

.chatbot-button {
    background-color: var(--color-secundario, #b6b6b6);
    color: var(--color-texto-boton, #000000);
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    width: 230px;
    height: 25px;
    font-size: 13px;
    transition: background-color 0.3s;

}

.chatbot-button:hover {
    background-color: var(--color-acento, #383838);
    color: var(--color-texto-hover, #ffffff);
}

.chatbot-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
}

.chatbot-footer input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilos del formulario de personalización */
.color-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
}

.color-picker label {
    font-weight: bold;
}

.color-picker input[type="color"] {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
}


.btn-select-archivo img {
    cursor: pointer;
}

.nombre-archivo {

    font-size: 14px;
    color: #575757;
}




/*Vista Burbuja*/
.img-icono-dia {
    margin-top: 5px;
    width: 45px;
    height: 50px;

}

.chat-toggle {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1000;
}

.toggle-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
}

.chat-text {
    position: absolute;
    right: 70px;
    bottom: 9px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 8px 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--colorPrimarioBurbuja, #e39842);
    border: none;
    border-radius: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.chat-text.hidden {
    opacity: 0;
}

.blink {
    animation: blink 2s linear infinite;
}

/*TEMA DE CONVERSACION*/

.tema-item {
    color: #FFB703;
    width: 400px;

}
.nuevoTema{
    margin-left: 70px;
    font-size: 15px;
}

.inp-conversa {

    width: 340px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    transition: opacity 0.2s ease;
    opacity: 1;
    border-color: #D9D9D9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

}

.errorMensaje{
    margin-left: 50px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {

    .menu-pers ul {
        flex-direction: column;
    }

    .menu-pers ul li {
        margin: 5px 0;
        padding: 10px;
        font-size: 16px;
    }

    .chatbot-principal {
        position: relative;
        margin-left: 0;
        margin-top: 20px;
        top: auto;
        right: 60%;
        width: 100%;
        height: auto;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .container-chats {
        inline-size: 80%;
    }

  

}

/* Viasta Crea conversacion*/ 
.boton1{
    flex: 1;
    background-color: #F3F3F3;
    padding: 10px;
    margin: 8px 5px;
    border:#D9D9D9;
    cursor: pointer;
    border-radius: 15px;
    font-size: 13px;
    text-align:left;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    transition: background-color 0.3s;

}


.container-crear-conver{
    margin-left: 35%;
    position: absolute;
    top: 47%;
}

.botones-conversacion{
    margin-top: 20px;
}


.boton1.active {
    background-color: #FFE6A7;
    color: #000000;
   
}

/*Vista planes*/ 


.container-plan-precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
   
}

.container-plan-basico {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 10px;
    border-radius: 15px;
    width: 45%;
    height: 100px;
    transition: all .3s;
    margin-left: 40px;
    cursor: pointer;
}

.container-precios, .container-precios-i
,.container-precios-a {
    display: flex;
    align-items: center;
    width: 10%;
   
    margin: 0;
}


.container-plan-basico-precio {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 5px;
    border-radius: 15px;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    margin-right: 30px;
    cursor: pointer;
}
.container-plan-inter-precio {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 5px;
    border-radius: 15px;
    width: 90%;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    margin-right: 30px;
    cursor: pointer;
}

.container-plan-avan-precio {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 5px;
    border-radius: 15px;
    width: 90%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    margin-right: 30px;
    cursor: pointer;
}

.nombre-precio-b {
    text-align: center;
    background-color: #FB8300;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.nombre-precio-i {
    text-align: center;
    background-color: #FFB703;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

.nombre-precio-a {
    text-align: center;
    background-color: #023047;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
}

.container-precio-b, .container-precio-i{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
.container-precio-a{
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}


.container-plan-inter {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 10px;
    border-radius: 15px;
    width: 45%;
    height: 135px;
    transition: all .3s;
    margin-left: 40px;
    cursor: pointer;
}

.container-plan-ava {
    background-color: #FFFFFF;
    border: #B6B6B6 1px solid;
    padding: 10px;
    border-radius: 15px;
    width: 45%;
    height: 165px;
    transition: all .3s;
    margin-left: 40px;
    cursor: pointer;
}

.nombre-plan-b {
    float: left;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #FB8300;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
}

.nombre-plan-i {
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #FFB703;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
}

.nombre-plan-a {
    float: left;
    text-align: center;
    margin-top: 45px;
    margin-left: 10px;
    background-color: #023047;
    box-shadow: 4px 4px 6px #c5c5c5, -4px -4px 6px #ffffff;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
}

.txt-plan {
    margin-top: 15px;
}

.txt-mensual-b, .txt-mensual-i, .txt-mensual-a  {
    margin-top: 4px;
}


.container-lista-benefi-b {
    margin-left: 135px;
    margin-top: 10px;
}

.container-lista-benefi {
    float: right;
    margin-top: 10px;
}

.lista-benefi {
    font-size: 12px;
    margin-left: 20px;
}
.btnSiguiente {
    background-color: #FB8300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 15px;
    font-size: 16px;
    margin-left: 45%;
}
.btnFina{
    background-color: #FB8300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 15px;
    font-size: 16px;
    margin-left: 45%;
    margin-top: 10%;
}
/* Ajustes adicionales para pantallas extremadamente pequeñas */
@media (max-width: 480px) {
    .container-menu-pers {
        padding: 5px;
    }

    .menu-pers ul li {
        font-size: 14px;
        padding: 8px;
    }

    .chatbot-principal {
        width: 100%;
        padding: 15px;
        box-shadow: none;
        border-radius: 10px;
        right: 70%;

    }

    .container-chats {
        inline-size: 77%;
    }

    .container-btn-cerrar-guar {
        margin-left: 50%;
        display: flex;
        justify-content: flex-end;
        width: 15%;
    }

    .rectangulo-container {
        height: calc(23% - 80px);
    }

    .input-nombre,
    .input-saludo,
    .input-burbuja {

        width: 800%;
        height: 40px;
        

    }

}