body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.txt-home {
    font-weight: bold;
}

.rectangulo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(25% - 80px);
    z-index: -1;
    overflow: hidden;
}

.rectangulo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    min-height: 100%;
    object-fit: cover;
}

.img-logo-chiq {
    position: absolute;
    top: 10px;
    left: 10px;
}

header {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 0;
    height: 40px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    padding: 10px;
    display: block;
    color: #F3F3F3;
    text-decoration: none;
}

header .navbar ul li a:hover {
    padding: 10px;
    display: block;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #FFB703;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

/* Estilos para la línea divisora en el menú */
header .navbar ul li ul .divider {
    height: 1px;
    background-color: #FFFFFF;
    width: 100%;
    align-self: center;
    list-style: none;
    opacity: 0.5;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}


header .navbar ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.user-dropdown {

    position: absolute;
    bottom: 5px;
    right: 10px;
}

.btn-user,
.btn-edit-chat,
.btn-select-archivo,
.btn-refresh,
.btn-add-chat {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    top: 65px;
    background-color: #2f58dd;
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-info {
    padding: 10px;
    background-color: #2f58dd;
    color: white;
    border-bottom: 1px solid #FFFFFF;
}

.div-user {
    margin-left: 10px;
}

.dropdown-links a,
.dropdown-links span {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



/* Media Queries para responsividad */
@media (max-width: 768px) {
    .menu-pers ul {
        flex-direction: column;
    }

    .menu-pers ul li {
        margin: 5px 0;
        padding: 10px;
        font-size: 16px;
    }
}

/* Ajustes adicionales para pantallas extremadamente pequeñas */
@media (max-width: 480px) {
    .container-menu-pers {
        padding: 5px;
    }

    .menu-pers ul li {
        font-size: 14px;
        padding: 8px;
    }
}

.container-bienv {
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.container-bienv img {
    margin-right: 15px;
}




.txtBien {
    font-size: 40px;
}

.txt-nombre-chat {
    font-size: 27px;

}

.container-btn-cerrar-guar {
    margin-left: 48%;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}



